<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="Off"/>
    <!--<sessionState mode="StateServer" cookieless="false" timeout="120"/>
    <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />-->
  </system.web>
  <connectionStrings>
    <!--<add name="VoteConn" connectionString="server=PROJECTIDEAS;database=VOTE_INFO;integrated security=true" />-->
   <!-- <add name="VoteConn" connectionString="server=TECHTRIX2;database=online_voting_db;uid=sa;password=root" /> -->
    <add name="VoteConn" connectionString="server=TECHTRIX2;database=Voting_Blockchain;uid=sa;password=root" />
    <!--<add name="VoteConn" connectionString="server=103.21.58.192;database=demopgxi_onlinevoting;uid=user_voting;password=user_@2018"/>-->
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>